.pathgen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 0px 21%;
}
.pathgen-image {
    height: 85vh;
    margin-top: 27px;
}

.robot-dragger-base {
    position: absolute;
    left: 59vh;
    top: 88.7vh;
    z-index: 9;
}
.robot-dragger {
    width: 32px;
    height: 32px;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 10px;
    cursor: move;
    z-index: 10;
}