.pathgen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 0px 21%;
}
.pathgen-image {
    height: 85dvh;
    padding: 27px 0 27px 0;
}

.robot-dragger-base {
    position: absolute;
    bottom: 42dvh;
    z-index: 9;
}
.first-base {
    border: 2px solid yellow;
}
.robot-dragger {
    width: 32px;
    height: 32px;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 10px;
    cursor: move;
    z-index: 10;
    transform: rotate(0);
    border: 2px solid yellow;
}