.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 21%;
    height: 100%;
    margin-top: 100px;
    padding-top: 30px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 5px;
    border-color: grey;
    border-style: solid;
    background-color: rgb(71, 0, 0);
    z-index: 1;
}

.waypoints-container, .constraints-container, .events-container {
    cursor: pointer;
    width: 88%;
    padding: 14px 0;
    display: flex;
    border: solid 4px rgb(95, 95, 95);
    justify-content: space-between;
    border-radius: 30px;
    font-size: 26px;
    text-align: left;
    transition: all 0.25s ease-in-out;
}
.waypoints-container:hover, .constraints-container:hover, .events-container:hover {
    background-color: rgb(141, 141, 141);
}
.waypoints-text, .constraints-text, .events-text {
    margin: 0 0 0 13px;
    width: 130px;
}
.waypoints-arrow, .constraints-arrow, .events-arrow {
    margin: 0 13px 0 0;
    transform: rotate(0);
}

.console-main-container {
    width: 100%;
    height: 100%;
    text-align: left;
}
.console-text {
    font-size: 24px;
    margin: 0px 0px 0px 20px;
}
.console-container {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: grey;
    border-top-width: 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    background-color: rgb(31, 31, 31);
}
.main-console {
    height: 61%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 16px 10px;
}
.console {
    width: 100%;
    text-align: left;
}
.divider {
    width: 88%;
    height: 1px;
    background-color: rgb(61, 61, 61);
    margin: 0 0 10px 0;
}

.quick-actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.quick-action {
    cursor: pointer;
    padding: 8px 24px;
    border: solid 1px grey;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}
.quick-action-text {
    margin: 0;
    font-size: 12px;
}
.quick-action:hover {
    scale: 1.04;
    background-color: white;
    color: black;
}